@import "mixin";
$Ctitle: rgba(168, 29, 255, 1);
/*cssをリセット*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
nav,
picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: normal;
}
* {
  box-sizing: border-box;
}

.pace-done #global-container {
  transition: opacity 1s;
  opacity: 1;
}

#global-container {
  opacity: 0;
}

.pace {
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
}

.pace .pace-progress {
  transform: none !important;
  text-align: center;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: block;
  font-weight: 100;
  font-size: 2em;
  font-family: "sans-serif";
  color: #ffffff;
}

.pace.pace-inactive {
  display: none;
}

.pace-progress-inner {
  margin: 32px auto;
  width: 50px;
  height: 50px;
  background-color: $Ctitle;
  @include animation(
    $name: sk-rotateplane,
    $duration: 1s,
    $iteration-count: infinite,
    $timing-function: ease-in-out
  );
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

html,
body,
a {
  cursor: none;
}
#cursor {
  transform: translate(0, 0);
  pointer-events: none;
  position: fixed;
  top: -4px;
  left: -4px;
  width: 8px;
  height: 8px;
  background: $Ctitle;
  border-radius: 50%;
  z-index: 1000;
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s ease;

  &.hov_ {
    top: -32px;
    left: -32px;
    width: 64px;
    height: 64px;
    background: rgba(0, 0, 0, 0);
    border: solid 1px $Ctitle;
  }
}

body {
  font-family: "游明朝体", Futura;
  font-size: 18px;
  line-height: 34px;
  background-color: #111111;
  margin: 0 !important;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}
/*css本体*/
@mixin caption {
  position: relative;
  color: $Ctitle;
  text-align: center;
  font-size: 2rem;
  font-family: Futura;
  &:before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -30px;
    width: 50px;
    height: 1px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: $Ctitle;
  }
}
.mobile-menu {
  display: none;
}
/*header*/
header {
  background-color: #ffffff;
  top: 0;
  .navMenu {
    display: flex;
    justify-content: space-between;
    .mobile-menu__btn {
      display: none;
    }
    ul {
      display: flex;
      flex-direction: row;
      margin-right: 32px;

      li a,
      li a i {
        display: inline-flex;
        color: #111111;
        line-height: 64px;
        padding: 0 8px;
        font-size: 22px;
        transition: all 0.6s;

        &:hover {
          color: $Ctitle;
        }
      }
      li a i {
        font-size: 48px;
      }
    }
  }
}
/*--footer---*/
footer {
  background-color: #ffffff;
  height: auto;
  text-align: center;

  .top_scroll {
    font-size: 32px;
    padding-top: 16px;
    &:hover {
      color: $Ctitle;
    }
  }

  .navMenu {
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;
      flex-direction: row;
      margin-right: 32px;

      li a,
      li a i {
        display: inline-flex;
        color: #111111;
        line-height: 64px;
        padding: 0 8px;
        font-size: 22px;

        &:hover {
          color: $Ctitle;
        }
      }
      li a i {
        font-size: 48px;
      }
    }
  }
}
/*home*/
#home {
  .home_caption {
    position: absolute;
    z-index: 1000;
    top: 15vh;
    font-family: Futura;
    font-weight: 600;
    left: -500px;
    letter-spacing: -7px;
    -webkit-text-stroke: 2px #fff;
    color: rgba(0, 0, 0, 0);
    line-height: 15vh;
    font-size: 4vw;
    animation-name: in;
    animation-fill-mode: both;
    animation-duration: 5.3s;
  }

  .header_nav {
    position: absolute;
    z-index: 100;
    font-family: Futura;
    font-size: 3vw;
    left: 64px;
    top: 50vh;
    li {
      opacity: 0;
      a {
        color: $Ctitle;
        &:hover {
          color: rgba(0, 0, 0, 0);
          -webkit-text-stroke: 2px $Ctitle;
        }
      }
    }
  }
}

.top_movie {
  .show_pc2 {
    animation-name: change_movie;
    animation-duration: 1s;
    animation-delay: 29s;
    opacity: 0;
    animation-fill-mode: forwards;
  }

  .show_pc1 {
    animation-name: delate_movie;
    animation-duration: 1s;
    animation-delay: 29s;
    opacity: 1;
    animation-fill-mode: forwards;
  }
}
@keyframes delate_movie {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes change_movie {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show_pc {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}
@mixin wave($animation-time) {
  position: relative;
  animation-name: wave;
  animation-duration: $animation-time;
  animation-fill-mode: none;
  animation-delay: 3.3s;
}

@for $i from 1 through 8 {
  & .wave#{$i} {
    @include wave(#{$i * 0.3s + 24.6s});
  }
}
@keyframes in {
  0%,
  80% {
    left: -50%;
  }

  100% {
    left: 64px;
  }
}

@keyframes wave {
  0%,
  3%,
  9%,
  15%,
  21%,
  27%,
  33%,
  39%,
  45%,
  51%,
  57%,
  63%,
  69%,
  75%,
  81%,
  87%,
  93%,
  98%,
  100% {
    color: rgba(151, 70, 247, 0);
  }

  24%,
  36%,
  48%,
  60%,
  72%,
  84%,
  96% {
    color: $Ctitle;
  }

  30%,
  42%,
  54%,
  66%,
  78%,
  90% {
    color: rgb(203, 143, 245);
  }
}
/* About me */
#about_me {
  background-color: #111111;
  color: #ffffff;
  padding: 64px 0;

  .top_caption {
    position: relative;
    color: $Ctitle;
    text-align: center;
    font-size: 2rem;
    font-family: Futura;
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -30px;
      width: 50px;
      height: 1px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: $Ctitle;
    }
  }

  .text {
    font-size: 1.1rem;
    font-family: "游明朝体";
    line-height: 32px;
  }

  .image {
    width: 60%;
    padding-right: 16px;
  }

  .image img {
    width: 100%;
  }

  /* TOP */
  .top {
    padding: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  /*　趣味　サッカー */
  .soccer {
    padding: 64px;
    background-color: #ffffff;
    color: #222222;

    .soccer_caption {
      font-size: 1.8vw;
      font-family: "游明朝体";
    }

    .soccer_main {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  /* 趣味　旅行 */
  .trip {
    padding: 64px;
    margin-top: 200px;
    .trip_caption {
      font-size: 1.8vw;
      font-family: "游明朝体";
      margin-bottom: 64px;
    }
    .trip_main {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
/*---Works---*/
#works {
  background-color: #111111;
  color: #ffffff;
  padding: 64px 0;

  .top_caption {
    position: relative;
    color: $Ctitle;
    text-align: center;
    font-size: 2rem;
    font-family: Futura;
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -30px;
      width: 50px;
      height: 1px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: $Ctitle;
    }
  }

  .works_btn {
    display: flex;
    justify-content: center;
    flex-direction: row;

    .btn {
      button:focus {
        outline: 0;
      }

      .btn_click {
        background-color: #111111;
        color: #ffffff;
        border: solid 1px #ffffff;
      }

      button {
        display: block;
        width: 294px;
        height: 58px;
        background-color: #ffffff;
        margin: 64px 32px;
        font-weight: 300;
        font-size: 28px;
        color: #000000;
        border: solid 1px #000000;
        border-radius: 28px;
        position: relative;
        overflow: hidden;
        z-index: 1;

        &::before {
          content: "";
          display: inline-block;
          width: 100%;
          height: 100%;
          background-color: #111111;
          position: absolute;
          top: 0;
          left: 0;
          transform: translateX(-100%);
          transition: all 0.3s;
          z-index: -1;
        }

        &:hover {
          color: #ffffff;
          border: 1px solid #ffffff;
          &::before {
            transform: none;
          }
        }
      }
    }
  }
  .works_contents {
    width: 80%;
    margin: 0 10%;
    .content {
      width: 100%;
      margin-bottom: 64px;
      .swiper-container {
        width: auto;
        height: 100%;
        .swiper-slide {
          color: #ffffff;
          height: 600px;
          width: auto;
          overflow-y: scroll;
          p {
            img {
              width: 100%;
              height: auto;
            }
          }
        }
      }
      .content_image img,
      .content_image video {
        width: 100%;
      }

      .linebot {
        width: 20%;
      }

      .content_text {
        margin-top: 16px;
        text-align: left;
        font-size: 1.2rem;
        a {
          color: #ffffff;
          &:hover {
            color: $Ctitle;
          }
        }
      }
    }
    .ap_hide {
      animation-name: content_hide;
      animation-duration: 0.3s;
      animation-fill-mode: forwards;
      opacity: 1;
    }
    .hp_hide {
      animation-name: content_hide;
      animation-duration: 0.6s;
      animation-fill-mode: forwards;
      opacity: 1;
      transform: scale(1, 1);
    }
    @keyframes content_hide {
      0% {
        opacity: 1;
        transform: scale(1, 1);
        height: auto;
        margin: 64px;
      }

      80% {
        opacity: 0;
        transform: scale(0, 0);
        height: auto;
        margin: 64px;
      }

      100% {
        height: 0;
        margin: 0;
        opacity: 0;
        transform: scale(0, 0);
      }
    }
  }
}
#service {
  color: #ffffff;
  margin: 64px 3%;
  text-align: center;
  .top_caption {
    position: relative;
    color: $Ctitle;
    text-align: center;
    font-size: 2rem;
    font-family: Futura;
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -30px;
      width: 50px;
      height: 1px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: $Ctitle;
    }
    margin-bottom: 64px;
  }

  .service_contents {
    display: flex;
    justify-content: center;
    flex-direction: row;

    .content {
      width: calc(100% / 3);
      padding: 0 2%;

      .caption {
        color: rgb(74, 171, 255);
        font-size: 32px;
        margin-bottom: 16px;
      }

      .text {
        margin-top: 16px;
        text-align: left;
      }
    }
  }
  .contact {
    display: inline;
    p {
      display: inline-block;
      padding: 16px 32px;
      border: solid 1px #111111;
      background-color: #ffffff;
      color: #111111;
      font-size: 20px;
      font-weight: 400;
      margin-top: 64px;
      position: relative;
      overflow: hidden;
      z-index: 1;

      &::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color: #111111;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: all 0.3s;
        z-index: -1;
      }

      &:hover {
        color: #ffffff;
        border: 1px solid #ffffff;
        &::before {
          transform: none;
        }
      }
    }
  }
}
#skill {
  color: #ffffff;
  margin: 64px 3%;

  .top_caption {
    position: relative;
    color: $Ctitle;
    text-align: center;
    font-size: 2rem;
    font-family: Futura;
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -30px;
      width: 50px;
      height: 1px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: $Ctitle;
    }
    margin-bottom: 64px;
  }

  .skill-icon ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 64px;
    li {
      display: inline-block;
      text-align: center;
      margin: 16px 0;
      width: 20%;
      a {
        font-size: 76px;
        color: #ffffff;
        transition: all 0.5s;
        transform: rotateZ(0deg);

        .jq {
          font-size: 32px;
        }
        
        .target {
          transition: all 0.5s;
          color: black;
          transform: rotateZ(0deg);

          &:hover {
            transform: rotateZ(360deg);
            color: rgb(74, 171, 255);
          }
        }
      }
    }
  }

  .skill_text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .content {
      width: calc(100% / 3);
      padding: 0 2%;
      margin-bottom: 64px;
      text-align: center;

      .caption {
        color: rgb(74, 171, 255);
        font-size: 32px;
        margin-bottom: 16px;
      }

      .text {
        margin-top: 16px;
        text-align: left;
      }
    }
  }
}
#contact {
  color: #ffffff;
  margin: 64px 3%;
.top_caption {
    position: relative;
    color: $Ctitle;
    text-align: center;
    font-size: 2rem;
    font-family: Futura;
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -30px;
      width: 50px;
      height: 1px;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      background-color: $Ctitle;
    }
    margin-bottom: 64px;
  }

  .content {
    display: inline-block;
    width: 100%;
    & input {
      display: inline-block;
    }
  }
}
@media screen and (max-width: 1024px) {
  header {
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    .navMenu ul {
      li a i {
        font-size: 32px;
      }
    }
  }

  footer {
    .navMenu ul {
      li a i {
        font-size: 32px;
      }
    }
  }
  #home {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    .home_caption {
      top: 32px;
      line-height: 64px;
      font-size: 32px;
      letter-spacing: 0;
      animation-name: none;
      position: static;
    }
    .top_movie .show_pc {
      border: 1px solid #ffffff;
      position: absolute;
      width: 80%;
    }

    .top_movie .show_pc2 {
      opacity: 0;
      position: relative;
      width: 100%;
    }

    .header_nav {
      font-size: 32px;
      left: 10%;
      top: 0;
      position: static;
      li {
        opacity: 1;
        height: 64px;
      }
    }
  }
  #about_me {
    .top_caption {
      margin-top: 64px;
    }
    .image {
      width: 80%;
    }

    .back_image {
      height: 150px;
    }
    .top {
      flex-direction: column;
    }
    .soccer {
      .soccer_caption {
        font-size: 1.2rem;
      }

      .soccer_main {
        flex-direction: column;
      }
    }
    .trip {
      .trip_caption {
        font-size: 1.2rem;
      }
      .trip_main {
        flex-direction: column;
      }
    }
  }
  #service {
    .top_caption {
      margin-top: 128px;
    }
  }
  #works {
    .top_caption {
      margin-top: 64px;
    }
  }
}

@media screen and (max-width: 896px) {
  body header .navMenu .mobile-menu__btn {
    display: inline-block;
  }
  #container {
    position: relative;
    background-color: #111111;
    z-index: 2;
    transition: all 0.5s;
  }

  body header .navMenu .ham {
    display: none;
  }

  .mobile-menu {
    position: fixed;
    right: 0;
    top: 0px;
    width: 200px;
    display: inline-block;

    &__btn {
      background-color: unset;
      border: none;
      outline: none !important;
      cursor: pointer;

      & > span {
        background-color: #111111;
        width: 35px;
        height: 2px;
        display: block;
        margin-bottom: 9px;
        transition: transform 0.7s;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &__cover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 0;
      visibility: hidden;
      transition: opacity 1s;
      cursor: pointer;
    }
    &__main {
      padding: 0;
      perspective: 2000px;
      transform-style: preserve-3d;
    }
    li {
      display: block;
      padding: 0 40px;
      transition: transform 0.3s, opacity 0.2s;
      opacity: 0;
    }
    a {
      display: block;
      margin-top: 30px;
      color: #ffffff;
      text-decoration: none;
    }
  }

  .menu-open {
    & #container {
      transform: translate(-200px, 30px);
      box-shadow: 0 8px 40px -10px rgba(255, 255, 255, 0.8);
    }

    & .mobile-menu {
      &__cover {
        opacity: 1;
        visibility: visible;
      }
      li {
        transform: none;
        opacity: 1;

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            transition-delay: $i * 0.07s;
          }
        }
      }
      &__btn {
        & > span {
          background-color: #111111;

          &:nth-child(1) {
            transition-delay: 70ms;
            transform: translateY(11px) rotate(135deg);
          }
          &:nth-child(2) {
            transition-delay: 0s;
            transform: translateX(-18px) scaleX(0);
          }
          &:nth-child(3) {
            transition-delay: 140ms;
            transform: translateY(-11px) rotate(-135deg);
          }
        }
      }
    }
  }

  footer {
    .navMenu {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      ul {
        margin: 0;
        li a {
          font-size: 18px;
        }
      }
    }
  }
  #service {
    .service_contents {
      flex-direction: column;
      align-items: center;
      .content {
        width: 80%;
        margin-bottom: 32px;
      }
    }
    .contact {
      p {
        padding: 8px 16px;
        font-size: 16px;
      }
    }
  }
  #skill {
    .skill-icon ul li {
      width: auto;
      padding: 3.5%;
    }

    .skill_text {
      flex-direction: column;
      align-items: center;
      .content {
        width: 80%;
      }
    }
  }
  #works {
    .works_btn .btn button {
      margin: 64px 12px;
      width: 157px;
      height: 32px;
      font-size: 1rem;
    }
    .works_contents .content .swiper-container .swiper-slide {
      height: 400px;
    }
  }
}
@media screen and (max-width: 480px) {
  footer {
    .navMenu {
      ul {
        li a {
          font-size: 12px;
        }
      }
    }
  }

  #home {
    .home_caption {
      top: 32px;
      line-height: 48px;
      font-size: 4vw;
    }
  }
  #works {
    .works_btn .btn button {
      margin: 0 8px;
      width: 157px;
      height: 32px;
      font-size: 1rem;
    }
    .works_contents .content .content_text {
      font-size: 1rem;
    }
  }
}
