@charset "UTF-8";
/*cssをリセット*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
nav,
picture {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pace-done #global-container {
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 1;
}

#global-container {
  opacity: 0;
}

.pace {
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 12px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
}

.pace .pace-progress {
  -webkit-transform: none !important;
  transform: none !important;
  text-align: center;
}

.pace .pace-progress:after {
  content: attr(data-progress-text);
  display: block;
  font-weight: 100;
  font-size: 2em;
  font-family: "sans-serif";
  color: #ffffff;
}

.pace.pace-inactive {
  display: none;
}

.pace-progress-inner {
  margin: 32px auto;
  width: 50px;
  height: 50px;
  background-color: #a81dff;
  -webkit-animation-name: sk-rotateplane;
  animation-name: sk-rotateplane;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

html,
body,
a {
  cursor: none;
}

#cursor {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  pointer-events: none;
  position: fixed;
  top: -4px;
  left: -4px;
  width: 8px;
  height: 8px;
  background: #a81dff;
  border-radius: 50%;
  z-index: 1000;
  -webkit-transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s ease;
  transition: width 0.3s, height 0.3s, top 0.3s, left 0.3s ease;
}

#cursor.hov_ {
  top: -32px;
  left: -32px;
  width: 64px;
  height: 64px;
  background: rgba(0, 0, 0, 0);
  border: solid 1px #a81dff;
}

body {
  font-family: "游明朝体", Futura;
  font-size: 18px;
  line-height: 34px;
  background-color: #111111;
  margin: 0 !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/*css本体*/
.mobile-menu {
  display: none;
}

/*header*/
header {
  background-color: #ffffff;
  top: 0;
}

header .navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

header .navMenu .mobile-menu__btn {
  display: none;
}

header .navMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: 32px;
}

header .navMenu ul li a,
header .navMenu ul li a i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #111111;
  line-height: 64px;
  padding: 0 8px;
  font-size: 22px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

header .navMenu ul li a:hover,
header .navMenu ul li a i:hover {
  color: #a81dff;
}

header .navMenu ul li a i {
  font-size: 48px;
}

/*--footer---*/
footer {
  background-color: #ffffff;
  height: auto;
  text-align: center;
}

footer .top_scroll {
  font-size: 32px;
  padding-top: 16px;
}

footer .top_scroll:hover {
  color: #a81dff;
}

footer .navMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

footer .navMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-right: 32px;
}

footer .navMenu ul li a,
footer .navMenu ul li a i {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #111111;
  line-height: 64px;
  padding: 0 8px;
  font-size: 22px;
}

footer .navMenu ul li a:hover,
footer .navMenu ul li a i:hover {
  color: #a81dff;
}

footer .navMenu ul li a i {
  font-size: 48px;
}

/*home*/
#home .home_caption {
  position: absolute;
  z-index: 1000;
  top: 15vh;
  font-family: Futura;
  font-weight: 600;
  left: -500px;
  -webkit-text-stroke: 2px #fff;
  color: rgba(0, 0, 0, 0);
  line-height: 15vh;
  font-size: 4vw;
  -webkit-animation-name: in;
  animation-name: in;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 5.3s;
  animation-duration: 5.3s;
}

#home .header_nav {
  position: absolute;
  z-index: 100;
  font-family: Futura;
  font-size: 3vw;
  left: 64px;
  top: 50vh;
}

#home .header_nav li {
  opacity: 0;
}

#home .header_nav li a {
  color: #a81dff;
}

#home .header_nav li a:hover {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px #a81dff;
}

.top_movie .show_pc2 {
  -webkit-animation-name: change_movie;
  animation-name: change_movie;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 29s;
  animation-delay: 29s;
  opacity: 0;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.top_movie .show_pc1 {
  -webkit-animation-name: delate_movie;
  animation-name: delate_movie;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 29s;
  animation-delay: 29s;
  opacity: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes delate_movie {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes delate_movie {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes change_movie {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes change_movie {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.show_pc {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
}

/* .wave1 {
  position: relative;
  -webkit-animation-name: wave;
  animation-name: wave;
  -webkit-animation-duration: 24.9s;
  animation-duration: 24.9s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
}

.wave2 {
  position: relative;
  -webkit-animation-name: wave;
  animation-name: wave;
  -webkit-animation-duration: 25.2s;
  animation-duration: 25.2s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
}

.wave3 {
  position: relative;
  -webkit-animation-name: wave;
  animation-name: wave;
  -webkit-animation-duration: 25.5s;
  animation-duration: 25.5s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
}

.wave4 {
  position: relative;
  -webkit-animation-name: wave;
  animation-name: wave;
  -webkit-animation-duration: 25.8s;
  animation-duration: 25.8s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
}

.wave5 {
  position: relative;
  -webkit-animation-name: wave;
  animation-name: wave;
  -webkit-animation-duration: 26.1s;
  animation-duration: 26.1s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
}

.wave6 {
  position: relative;
  -webkit-animation-name: wave;
  animation-name: wave;
  -webkit-animation-duration: 26.4s;
  animation-duration: 26.4s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
}

.wave7 {
  position: relative;
  -webkit-animation-name: wave;
  animation-name: wave;
  -webkit-animation-duration: 26.7s;
  animation-duration: 26.7s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
}

.wave8 {
  position: relative;
  -webkit-animation-name: wave;
  animation-name: wave;
  -webkit-animation-duration: 27s;
  animation-duration: 27s;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-delay: 3.3s;
  animation-delay: 3.3s;
} */

@-webkit-keyframes in {
  0%,
  80% {
    left: -50%;
  }
  100% {
    left: 64px;
  }
}

@keyframes in {
  0%,
  80% {
    left: -50%;
  }
  100% {
    left: 64px;
  }
}

/*@-webkit-keyframes wave {
  0%,
  3%,
  9%,
  15%,
  21%,
  27%,
  33%,
  39%,
  45%,
  51%,
  57%,
  63%,
  69%,
  75%,
  81%,
  87%,
  93%,
  98%,
  100% {
    color: rgba(151, 70, 247, 0);
  }
  24%,
  36%,
  48%,
  60%,
  72%,
  84%,
  96% {
    color: #a81dff;
  }
  30%,
  42%,
  54%,
  66%,
  78%,
  90% {
    color: #cb8ff5;
  }
}

@keyframes wave {
  0%,
  3%,
  9%,
  15%,
  21%,
  27%,
  33%,
  39%,
  45%,
  51%,
  57%,
  63%,
  69%,
  75%,
  81%,
  87%,
  93%,
  98%,
  100% {
    color: rgba(151, 70, 247, 0);
  }
  24%,
  36%,
  48%,
  60%,
  72%,
  84%,
  96% {
    color: #a81dff;
  }
  30%,
  42%,
  54%,
  66%,
  78%,
  90% {
    color: #cb8ff5;
  }
}*/

/* About me */
#about_me {
  background-color: #111111;
  color: #ffffff;
  padding: 64px 0;
  /* TOP */
  /*　趣味　サッカー */
  /* 趣味　旅行 */
}

#about_me .top_caption {
  position: relative;
  color: #a81dff;
  text-align: center;
  font-size: 2rem;
  font-family: Futura;
}

#about_me .top_caption:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30px;
  width: 50px;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #a81dff;
}

#about_me .text {
  font-size: 1.1rem;
  font-family: "游明朝体";
  line-height: 32px;
}

#about_me .image {
  width: 60%;
  padding-right: 16px;
}

#about_me .image img {
  width: 100%;
}

#about_me .top {
  padding: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#about_me .soccer {
  padding: 64px;
  background-color: #ffffff;
  color: #222222;
}

#about_me .soccer .soccer_caption {
  font-size: 1.8vw;
  font-family: "游明朝体";
}

#about_me .soccer .soccer_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#about_me .trip {
  padding: 64px;
}

#about_me .trip .trip_caption {
  font-size: 1.8vw;
  font-family: "游明朝体";
  margin-bottom: 64px;
}

#about_me .trip .trip_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*---Works---*/
#works {
  background-color: #111111;
  color: #ffffff;
  padding: 64px 0;
}

#works .top_caption {
  position: relative;
  color: #a81dff;
  text-align: center;
  font-size: 2rem;
  font-family: Futura;
}

#works .top_caption:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30px;
  width: 50px;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #a81dff;
}

#works .works_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

#works .works_btn .btn button:focus {
  outline: 0;
}

#works .works_btn .btn .btn_click {
  background-color: #111111;
  color: #ffffff;
  border: solid 1px #ffffff;
}

#works .works_btn .btn button {
  display: block;
  width: 294px;
  height: 58px;
  background-color: #ffffff;
  margin: 64px 32px;
  font-weight: 300;
  font-size: 28px;
  color: #000000;
  border: solid 1px #000000;
  border-radius: 28px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#works .works_btn .btn button::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #111111;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

#works .works_btn .btn button:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

#works .works_btn .btn button:hover::before {
  -webkit-transform: none;
  transform: none;
}

#works .works_contents {
  width: 80%;
  margin: 0 10%;
}

#works .works_contents .content {
  width: 100%;
  margin-bottom: 64px;
}

#works .works_contents .content .swiper-container {
  width: auto;
  height: 100%;
}

#works .works_contents .content .swiper-container .swiper-slide {
  color: #ffffff;
  height: 600px;
  width: auto;
  overflow-y: scroll;
}

#works .works_contents .content .swiper-container .swiper-slide p img {
  width: 100%;
  height: auto;
}

#works .works_contents .content .content_image img,
#works .works_contents .content .content_image video {
  width: 100%;
}

#works .works_contents .content .linebot {
  width: 20%;
}

#works .works_contents .content .content_text {
  margin-top: 16px;
  text-align: left;
  font-size: 1.2rem;
}

#works .works_contents .content .content_text a {
  color: #ffffff;
}

#works .works_contents .content .content_text a:hover {
  color: #a81dff;
}

#works .works_contents .ap_hide {
  -webkit-animation-name: content_hide;
  animation-name: content_hide;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 1;
}

#works .works_contents .hp_hide {
  -webkit-animation-name: content_hide;
  animation-name: content_hide;
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 1;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

@-webkit-keyframes content_hide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    height: auto;
    margin: 64px;
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    height: auto;
    margin: 64px;
  }
  100% {
    height: 0;
    margin: 0;
    opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
}

@keyframes content_hide {
  0% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    height: auto;
    margin: 64px;
  }
  80% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    height: auto;
    margin: 64px;
  }
  100% {
    height: 0;
    margin: 0;
    opacity: 0;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
}

#service {
  color: #ffffff;
  margin: 64px 3%;
  text-align: center;
}

#service .top_caption {
  position: relative;
  color: #a81dff;
  text-align: center;
  font-size: 2rem;
  font-family: Futura;
  margin-bottom: 64px;
}

#service .top_caption:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30px;
  width: 50px;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #a81dff;
}

#service .service_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

#service .service_contents .content {
  width: calc(100% / 3);
  padding: 0 2%;
}

#service .service_contents .content .caption {
  color: #4aabff;
  font-size: 32px;
  margin-bottom: 16px;
}

#service .service_contents .content .text {
  margin-top: 16px;
  text-align: left;
}

#service .contact {
  display: inline;
}

#service .contact p {
  display: inline-block;
  padding: 16px 32px;
  border: solid 1px #111111;
  background-color: #ffffff;
  color: #111111;
  font-size: 20px;
  font-weight: 400;
  margin-top: 64px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#service .contact p::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #111111;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

#service .contact p:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
}

#service .contact p:hover::before {
  -webkit-transform: none;
  transform: none;
}

#skill {
  color: #ffffff;
  margin: 64px 3%;
}

#skill .top_caption {
  position: relative;
  color: #a81dff;
  text-align: center;
  font-size: 2rem;
  font-family: Futura;
  margin-bottom: 64px;
}

#skill .top_caption:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30px;
  width: 50px;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #a81dff;
}

#skill .skill-icon ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 64px;
}

#skill .skill-icon ul li {
  display: inline-block;
  text-align: center;
  margin: 16px 0;
  width: 20%;
}

#skill .skill-icon ul li a {
  font-size: 76px;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}

#skill .skill-icon ul li a .jq {
  font-size: 32px;
}

#skill .skill-icon ul li a .target {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);
}

#skill .skill-icon ul li a .target:hover {
  -webkit-transform: rotateZ(720deg);
  transform: rotateZ(720deg);
  color: #4aabff;
}

#skill .skill_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#skill .skill_text .content {
  width: calc(100% / 3);
  padding: 0 2%;
  margin-bottom: 64px;
  text-align: center;
}

#skill .skill_text .content .caption {
  color: #4aabff;
  font-size: 32px;
  margin-bottom: 16px;
}

#skill .skill_text .content .text {
  margin-top: 16px;
  text-align: left;
}

#contact {
  color: #ffffff;
  margin: 64px 10%;
}

#contact .top_caption {
  position: relative;
  color: #a81dff;
  text-align: center;
  font-size: 2rem;
  font-family: Futura;
  margin-bottom: 64px;
}

#contact .top_caption::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -30px;
  width: 50px;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #a81dff;
}

#contact .content {
  display: inline-block;
  width: 100%;
}

#contact .content input,
textarea {
  display: inline-block;
  width: 100%;
  resize: none;
  font-size: 22px;
}
#contact input[type="text"],
input[type="email"],
input[type="submit"],
textarea:focus {
  outline: 0;
}

#contact input[type="submit"] {
  display: block;
  width: 149px;
  height: 36px;
  background-color: #ffffff;
  font-weight: 300;
  margin-top: 32px;
  font-size: 1.2rem;
  color: #000000;
  border: solid 1px #000000;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

#contact span,#contact .screen-reader-response {
  color: rgb(243, 107, 107);
  margin: 32px 0;
}

#contact .screen-reader-response ul,#contact .wpcf7-validation-errors {
  display: none;
}

@media screen and (max-width: 1024px) {
  header {
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  header .navMenu ul li a i {
    font-size: 32px;
  }
  footer .navMenu ul li a i {
    font-size: 32px;
  }
  #home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 10%;
  }
  #home .home_caption {
    top: 32px;
    line-height: 64px;
    font-size: 32px;
    letter-spacing: 0;
    -webkit-animation-name: none;
    animation-name: none;
    position: static;
  }
  #home .top_movie .show_pc {
    border: 1px solid #ffffff;
    position: absolute;
    width: 80%;
  }
  #home .top_movie .show_pc2 {
    opacity: 0;
    position: relative;
    width: 100%;
  }
  #home .header_nav {
    font-size: 32px;
    left: 10%;
    top: 0;
    position: static;
  }
  #home .header_nav li {
    opacity: 1;
    height: 64px;
  }
  #about_me .top_caption {
    margin-top: 64px;
  }
  #about_me .image {
    width: 80%;
  }
  #about_me .back_image {
    height: 150px;
  }
  #about_me .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #about_me .soccer .soccer_caption {
    font-size: 1.2rem;
  }
  #about_me .soccer .soccer_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #about_me .trip .trip_caption {
    font-size: 1.2rem;
  }
  #about_me .trip .trip_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #service .top_caption {
    margin-top: 128px;
  }
  #works .top_caption {
    margin-top: 64px;
  }

  #contact .top_caption {
    margin-top: 128px;
  }
}

@media screen and (max-width: 896px) {
  body header .navMenu .mobile-menu__btn {
    display: inline-block;
  }
  #container {
    position: relative;
    background-color: #111111;
    z-index: 2;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  body header .navMenu .ham {
    display: none;
  }
  .mobile-menu {
    position: fixed;
    right: 0;
    top: 0px;
    width: 200px;
    display: inline-block;
  }
  .mobile-menu__btn {
    background-color: unset;
    border: none;
    outline: none !important;
    cursor: pointer;
  }
  .mobile-menu__btn > span {
    background-color: #111111;
    width: 35px;
    height: 2px;
    display: block;
    margin-bottom: 9px;
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
  }
  .mobile-menu__btn > span:last-child {
    margin-bottom: 0;
  }
  .mobile-menu__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    cursor: pointer;
  }
  .mobile-menu__main {
    padding: 0;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .mobile-menu li {
    display: block;
    padding: 0 40px;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
    transition: opacity 0.2s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
    opacity: 0;
  }
  .mobile-menu a {
    display: block;
    margin-top: 30px;
    color: #ffffff;
    text-decoration: none;
  }
  .menu-open #container {
    -webkit-transform: translate(-200px, 30px);
    transform: translate(-200px, 30px);
    -webkit-box-shadow: 0 8px 40px -10px rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 40px -10px rgba(255, 255, 255, 0.8);
  }
  .menu-open .mobile-menu__cover {
    opacity: 1;
    visibility: visible;
  }
  .menu-open .mobile-menu li {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
  }
  .menu-open .mobile-menu li:nth-child(1) {
    -webkit-transition-delay: 0.07s;
    transition-delay: 0.07s;
  }
  .menu-open .mobile-menu li:nth-child(2) {
    -webkit-transition-delay: 0.14s;
    transition-delay: 0.14s;
  }
  .menu-open .mobile-menu li:nth-child(3) {
    -webkit-transition-delay: 0.21s;
    transition-delay: 0.21s;
  }
  .menu-open .mobile-menu li:nth-child(4) {
    -webkit-transition-delay: 0.28s;
    transition-delay: 0.28s;
  }
  .menu-open .mobile-menu li:nth-child(5) {
    -webkit-transition-delay: 0.35s;
    transition-delay: 0.35s;
  }
  .menu-open .mobile-menu__btn > span {
    background-color: #111111;
  }
  .menu-open .mobile-menu__btn > span:nth-child(1) {
    -webkit-transition-delay: 70ms;
    transition-delay: 70ms;
    -webkit-transform: translateY(11px) rotate(135deg);
    transform: translateY(11px) rotate(135deg);
  }
  .menu-open .mobile-menu__btn > span:nth-child(2) {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translateX(-18px) scaleX(0);
    transform: translateX(-18px) scaleX(0);
  }
  .menu-open .mobile-menu__btn > span:nth-child(3) {
    -webkit-transition-delay: 140ms;
    transition-delay: 140ms;
    -webkit-transform: translateY(-11px) rotate(-135deg);
    transform: translateY(-11px) rotate(-135deg);
  }
  footer .navMenu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer .navMenu ul {
    margin: 0;
  }
  footer .navMenu ul li a {
    font-size: 18px;
  }
  #service .service_contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #service .service_contents .content {
    width: 80%;
    margin-bottom: 32px;
  }
  #service .contact p {
    padding: 8px 16px;
    font-size: 16px;
  }
  #skill .skill-icon ul li {
    width: auto;
    padding: 3.5%;
  }
  #skill .skill_text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  #skill .skill_text .content {
    width: 80%;
  }
  #works .works_btn .btn button {
    margin: 64px 12px;
    width: 157px;
    height: 32px;
    font-size: 1rem;
  }
  #works .works_contents .content .swiper-container .swiper-slide {
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  footer .navMenu ul li a {
    font-size: 1.2vw;
  }
  #home .home_caption {
    top: 32px;
    line-height: 48px;
    font-size: 4vw;
  }
  #works .works_btn .btn button {
    margin: 56px 8px;
    width: 157px;
    height: 32px;
    font-size: 1rem;
  }
  #works .works_contents .content .content_text {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=portforio.css.map */
